<!-- product -->
	<div
		class="
			row
			product
		"
	>
		<div
			class="col-xs-12"
		>
			<!-- image -->
				<div
					class="row"
				>
					<div
						class="
							col-xs-12
							text-center
							image
						"
					>
						<img 
							src="{{ imageSrc }}"
							alt="{{ imageAltText }}" 
						>
					</div>
				</div>
			<!-- title -->
				<div
					class="row"
				>
					<div
						class="
							col-xs-12
							title
						"
					>
						<span>{{ title }}</span>
					</div>
				</div>
			<!-- weight -->
				<div
					class="row"
				>
					<div
						class="
							col-xs-12
							weight
						"
					>
						<span *ngIf="impWeight">{{ impWeight }}oz</span>&nbsp;&nbsp;
						<span *ngIf="metWeight">( {{ metWeight }}{{ metUnit }} )</span>
					</div>
				</div>
			<!-- type -->
				<div
					class="row"
				>
					<div
						class="
							col-xs-12
							type
						"
					>
						<span>{{ type }}</span>
					</div>
				</div>
		</div>
	</div>
