a:hover
	text-decoration: none
	

.product-container 
	height: 10em
	overflow-y: hidden


.image-container 
	height: 5.5em


.image-container img
	height: 100%
	

.title-container
	padding-top: .1em
	font-weight: bold
	font-size: .77em
	

.weight-container, .type-container
	font-size: .65em


.price
	font-size: 1em
	color: #FF9F02
	

.button
	display: inline-block
	border-radius: 1em
	height: 2em
	width: 6em
	padding-top: .35em
	padding-left: -.2em
	background-color: #FF9F02
	color: #FFF
	font-weight: bold
	font-size: .65em
	text-align: center


.button:hover
	background-color: #C3801E
	height: 2.2em
	width: 6.2em
	margin-left: -.2em
	padding-top: .37em
	padding-left: -.22em
	font-size: .62em
	

	

	
	

