<div
	class="
		row
		product-container
	"
>
	<div
		class="col-xs-12"
	>
		<!-- image -->
			<div
				class="row"
			>
				<div
					class="
						col-xs-12
						text-center
						image-container
					"
				>
					<img 
						src="{{ imageSrc }}"
						alt="{{ imageAltText }}" 
					>
				</div>
			</div>
		<!-- title -->
			<div
				class="row"
			>
				<div
					class="
						col-xs-12
						title-container
					"
				>
					<span>{{ title }}</span>
				</div>
			</div>
		<!-- weight -->
			<div
				class="row"
			>
				<div
					class="
						col-xs-12
						weight-container
					"
				>
					<span *ngIf="impWeight">
						{{ impWeight }}oz
					</span>
					&nbsp;&nbsp;
					<span *ngIf="metWeight">
						( {{ metWeight }}{{ metUnit }} )
					</span>
				</div>
			</div>
		<!-- type -->
			<div
				class="row"
			>
				<div
					class="
						col-xs-12
						type-container
					"
				>
					<span>{{ type }}</span>
				</div>
			</div>
		<!-- action -->
			<div
				class="row"
			>
				<!-- price -->
					<div
						class="
							col-xs-6
							price-container
						"
					>
						<span
							class="price"
						>
							${{ price }}
						</span>
					</div>
				<!-- button -->
					<div
						class="
							col-xs-6
							text-right
							button-container
						"
					>
						<a
							href="{{ baseUrl }}{{ handle }}"
							class="
								button
							"
						>
							ADD
						</a>
					</div>
			</div>
	</div>
</div>
