.product 
	height: 10em
	overflow-y: hidden


.image 
	height: 5.5em


.image img
	height: 100%
	

.title
	padding-top: .1em
	font-weight: bold
	font-size: .77em
	
.weight, .type, .action
	font-size: .65em
	

.action
	font-weight: bold
	
	

